<div class="navbar">
  <h1>Dat Movie Database</h1>
  <h3>Movies, Yo!</h3>
  <p>Please use the navigation bar at the top for quick switching. You can add, edit and delete movies upon signing in. Please use responsibly.
</div>