/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*==================================================*/
/*Peters code begins here!*/
body {
   background-image: url("/movie.jpg");
   background-size: 100%;
}

.menu {
  /*background-color: blue;*/
  width: 250px;
/*  border: 1px solid #6B1229;*/
  position: fixed;
  left: 37%;
  top: 20px;
  color: red;
}

a {
  text-decoration: none;
  color: red;
}

a:visited { 
    color: red;
}

ul {
  list-style-type: none;
  text-decoration: none;
  display: inline;
  color: black;
}

li {
  text-decoration: none;
  display: inline;
  font-size: 20px;
  color: black;
}

.field {
  background-color: white;
  opacity: 0.7;
}

.navbar {
  position: fixed;
  color: black;
  left: 23%;
  top: 30%;
  width: 55%;
  text-align: center;
}

.index {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: white;
}

.show {
  position: fixed;
  width: 80%;
  left: 25%;
  top: 25%;
}

/*.pic {
  width: 10%;
  height: 10%px;
  border: 1px solid #6B1229;
}*/